body{
  background-color: mediumaquamarine;
  font-size: x-large;
text-align: center;
}



  



#articleOne{
  font-family: monospace;
  font-size: medium;
  border: 2px solid red;
  
  padding-bottom: 20px;
}

#articleTwo{
  font-family: sans-serif;
  font-size: medium;
  border: 2px solid red;
  padding-bottom: 20px;
 
}

#articleThree{
  font-family: Helvetica;
  font-size: medium;
  border-block-start: 2px solid red;
  border: 2px solid red;
  padding-bottom: 20px;

}

ul{
 
  padding-right: 30px;
  
}

h2 {
  color: red;
}
h1 {
  color: red;
}
